/* Customizing Website Name & Nav link */
.navbar .navbar-brand {
  color: rgb(35, 182, 166);
  font-size: 24px;
}

.navbar .navbar-nav .nav-link,
div .nav-link {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s all linear;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(35, 182, 166);
  background-color: rgb(41, 41, 41);
}

.navbar .navbar-brand:hover {
  color: tomato;
  transition: 1s;
}

/* Customizing Sign In and Cart Button in Navbar */
#cart,
#sign-in {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s all linear;
}

#cart {
  background-color: rgb(41, 41, 41);
}

#sign-in {
  background-color: tomato;
}

#cart:hover,
#sign-in:hover {
  color: white;
  background-color: rgb(35, 182, 166);
}

/* Header Description Style */

.header-description {
  color: white;
  font-weight: bold;
  background-color: #23b7a7;
  padding: 30px 0;
}
.bg-color-text {
  background-color: #333333;
  display: inline;
  padding: 0 30px;
}

.offer {
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.offer-des {
  color: #333333;
}

@media only screen and (max-width: 668px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-buttons {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
